/* source: */
/* https://lego.yandex-team.ru/__example/islands/v5.13.0/desktop.examples/i-font/all/all.html */

/* regular */
@font-face {
    font-family: "YS Text Web";
    src: url(https://yastatic.net/islands/_/kprGdbFG193KHZo19HtESsRHncw.eot);
    src: url(https://yastatic.net/islands/_/2SFdG32ETUSsR0lGHx7BLic2F44.ttf);
    src: url(https://yastatic.net/islands/_/KRBKbh7904nwfw8-FzDelXRpZ9o.woff2),
    url(https://yastatic.net/islands/_/7RkupUWVEcepjeZPFv1xCDdQFhc.woff);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

/* medium */
@font-face {
    font-family: "YS Text Web";
    src: url(https://yastatic.net/islands/_/F3BLWopvyUrJfqcehmoD61LBcSQ.eot);
    src: url(https://yastatic.net/islands/_/AK3QePfiz0p_XuKDni2fqRLv770.ttf);
    src: url(https://yastatic.net/islands/_/_Ocpq376VVJdR5aDIq4WkfWF6Gg.woff2),
    url(https://yastatic.net/islands/_/aHTLG2tTlmAJt89PBP6ke1NjNlI.woff);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

/* bold */
@font-face {
    font-family: "YS Text Web";
    src: url(https://yastatic.net/islands/_/nQkNN762Gs6THHewW5rQMIIyfMA.eot);
    src: url(https://yastatic.net/islands/_/o9D1OOQkIM1tjIvuGeHuvA0EgWA.ttf);
    src: url(https://yastatic.net/islands/_/TR2STky64Ra69XlYzqKN7cnjYfQ.woff2),
    url(https://yastatic.net/islands/_/6n8FrCwGXwQ5ZumBk1SCxOl2ec8.woff);
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}